<h3><i class='fas fa-book-reader'></i>Inventory</h3>
<div class='section'>
  <p class='lead'>View the current inventory</p>
</div>
<div class='divider'></div>
<div class='section'>
  <a href='/auth' class='btn red darken-1'>
    <i class='fab fa-github left'></i>
    Log in with Github</a>
</div>